<router-outlet />

<soho-icons-new></soho-icons-new>
<soho-icons-empty [icons]="'colorful'"></soho-icons-empty>
<soho-icons-app></soho-icons-app>

<soho-module-nav-container [ngClass]="{ 'module-nav-container': true }">
  <soho-module-nav
    [ngClass]="{ 'module-nav': true }"
    [mobileBehavior]="true"
    displayMode="expanded"
    [filterable]="true"
    [showModuleSwitcher]="false"
    [pinSections]="true"
    [enableOutsideClick]="false"
  >
    <div class="module-nav-bar">
      <soho-accordion
        [allowOnePane]="true"
        [hasPanels]="true"
        [moduleNav]="true"
        [rerouteOnLinkClick]="false"
      >
        <div class="module-nav-main accordion-section">
          <div class="accordion-header">
            <svg soho-icon [icon]="'add'" class="icon"></svg>
            <a href="#">
              <span>hello</span>
            </a>
          </div>
        </div>
      </soho-accordion>
    </div>
  </soho-module-nav>
  <div class="page-container no-scroll has-module-nav-offset">
    <div id="maincontent" class="page-container scrollable" role="main">
      <app-header [title]="title" [subHeader]="subHeader"></app-header>
      <!-- <div class="row">
        <div class="twelve columns"> -->
      <br />
      <app-data-grid></app-data-grid>
      <!-- <app-list-view></app-list-view> -->
    </div>
  </div>
  <!-- </div>
  </div> -->
</soho-module-nav-container>
